
:root {
    --primary-color: #404BBF;
    --background-color: #FFFFFF;
  }

/* Define CSS variables */
:root {
    --primary-color: #404BBF;
    --background-color: #FFFFFF;
  }
  
  /* Adjustments for header */
  header {
    text-align: center;
  }
  
  header h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
  }
  
  /* Adjustments for button */
  button {
    font-family: "Roboto", sans-serif; /* Matching Google Fonts - Roboto */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  
  /* Hover and focus styles for button */
  button:hover,
  button:focus {
    background-color: #404BBF;
    color: #fff; /* Change font color on hover/focus */
  }
  
  /* Additional styles for first section */
  main > section:first-of-type {
    background-color: #2E2F42; /* Use CSS variable for background color */
  }
  
  /* Additional styles for button in first section */
  main > section:first-of-type button {
    background-color: #2E2F42; /* Use CSS variable for background color */
    color: #fff; /* White text color */
  }

  /* Adjust the color of "Effective Solutions" text in the hero section */
main > section:first-of-type h1 {
    color: #fff; /* White text color */
  }
  
  
  footer {
    background-color: #2E2F42; /* Navy Blue background */
    color: #FFFFFF; /* White text color */
  }
  
