/* Google Fonts - Roboto*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}

:root {
    --background-color: #FFFFFF;
}

body {
    background-color: var(--background-color);
}



.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  

/* Google Fonts - Raleway*/

/* .raleway-heading: Example of a descriptive class name */
.raleway-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
}




/* Logo Styles */
.LOGO span.Web {
    color: #4D5AE5; /* Color for "WEB" */
}

.LOGO span.STUDIO {
    color: navy; /* Color for "STUDIO" */
}

/* Button Style */
button {
    cursor: pointer;
}








/* Footer Styles */
footer {
    background-color: #2E2F42; /* Navy Blue background */
    color: #FFFFFF; /* White text color */
}

/* Hero Section Styles */
main > section:first-of-type {
    background-color: #2E2F42; /* Navy Blue background */
    color: #FFFFFF; /* White text color */
}

/* Order Service Button Styles */
main > section:first-of-type button {
    background-color: #4D5AE5; /* Iris background */
    color: #FFFFFF; /* White text color */
}

/* Optional: Hover effect for the button */
main > section:first-of-type button:hover {
    background-color: #3753cc; /* Darker shade of Iris for hover */
}



